# Rust
/target/
**/*.rs.bk

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
.venv/

# Environment Variables
.env
.env.local
.env.*.local

# Docker
.dockerignore

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.dll

# null-drift specific data
state.nd
models/
onnx/
onnx.zip
analyze.py
test_final.py
download_model.py
*.log
